<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div><a href="/registration">Страница регистрации</a></div>
    <br><br>
    <div><a href="/login">Страница авторизации</a></div>
    <br><br>
    <div><a href="/savings">Сбережения</a></div>
    <br><br>
    <div><a href="/addsavings">Добавления сбережений</a></div>
    <br><br>
    <div><a href="/editsavings">Изменение таблицы сбережений</a></div>
    <br><br>

    </body>
</html>