<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><a href="/addsavings">На страницу добавления сбережений</a></div>
<h1>Таблица сбережений</h1>
    <div>
     <table>
       <tr>
         <th>Наименование</th>
         <th>Сумма</th>
         <th>Валюта</th>
         <th>Тип</th>
       </tr>
       {{#savings}}
       <tr>
         <td>{{saving_name}}</td>
         <td>{{amount}}</td>
         <td>{{currency_name}}</td>
         <td>{{saving_type}}</td>
       </tr>
       {{/savings}}
     </table>
    </div>

</body>
</html>