<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1>Страница регистрации</h1>
<br><br>
{{#message}}
    {{message}}
{{/message}}
<br><br>
<form action="/registration" method="post">
    <div><label> Имя : <input type="text" name="username"/> </label></div>
    <br><br>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <br><br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Погнали!"/></div>
</form>
</body>
</html>