<!-- Разлогинивание и страница добавления сбережений начало -->
<!--<div>-->
<!--    <form action="/logout" method="post">-->
<!--        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--        <input type="submit" value="Выйти"/>-->
<!--    </form>-->
<!--</div>-->
<!--<br><br>-->
<!--<div><a href="/addsavings">На страницу добавления сбережений</a></div>-->
<!-- Разлогинивание и страница добавления сбережений конец -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Datta Able - DataTable</title>
        <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
        <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template">
        <meta name="author" content="Codedthemes" />

        <!-- Favicon icon -->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <!-- animation css -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- data tables css -->
        <link rel="stylesheet" href="plugins/data-tables/css/datatables.min.css">
        <!-- vandor css -->
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"><i class="feather icon-home"></i> Сбережения</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ HTML5 Export button ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Сбережения</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="key-act-button" class="display table nowrap table-striped table-hover" style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>Наименование</th>
                                                        <th>Сумма</th>
                                                        <th>Валюта</th>
                                                        <th>Тип</th>
                                                        <th>Автор</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#savings}}
                                                        <tr>
                                                            <td>{{saving_name}}</td>
                                                            <td>{{amount}}</td>
                                                            <td>{{currency_name}}</td>
                                                            <td>{{saving_type}}</td>
                                                            <td>{{authorName}}</td>
                                                        </tr>
                                                    {{/savings}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ HTML5 Export button ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
    <div class="ie-warning">
        <h1>Предупреждение!</h1>
        <p>Вы используете устаревшую версию Internet Explorer, пожалуйста, обновите ее
            <br/>к любому из следующих веб-браузеров для доступа к этому веб-сайту.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="images/browser/ie.png" alt="">
                        <div>IE (11 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Приносим извинения за неудобства!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="js/vendor-all.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pcoded.min.js"></script>
    <!-- datatable Js -->
    <script src="plugins/data-tables/js/datatables.min.js"></script>
    <script src="js/tbl-datatable-custom.js"></script>

    </body>
</html>